<ion-view view-title="Main" hide-nav-bar="true" style="background-color: black;">
  <ion-content ng-init="loggedInRedirect()">
    <div class="main">
      <img src="http://img.ffffound.com/static-data/assets/6/7221a1ff303adcee0c14504427553ffcac5dbd7b_m.gif" alt="mainimg" style="width: 100%;"/>
      <img src="img/constellatetitle.png" alt="title" style="width: 80%;position:relative; bottom: 200px"/>
      <div class="list sign-list">
        <label class="item item-input" style="background-color:transparent; border-left: none; border-right: none; border-top: none; border-color:#505062">
          <div style="display:inline-block; margin-right:20px" class="ion-android-star-outline"></div><input style="color:white" type="text" placeholder="Username" autocapitalize="none" ng-model="view.username" />
        </label>
        <label class="item item-input" style="background-color:transparent; border-left: none; border-right: none; border-top: none;border-color:#505062">
          <div style="display:inline-block; margin-right:20px" class="ion-ios-locked-outline"></div><input style="color:white" type="password" placeholder="Password" ng-model="view.password"/>
        </label>
        <div style="color:red;margin-top:20px">
          <p ng-show="view.username.length===0">Username can not be blank</p>
          <p ng-show="view.username.length<5">Username must be more than 5 characters</p>
          <p ng-show="view.username.length>20">Username must be less than 20 characters</p>
          <p ng-show="view.password.length===0">Password can not be blank</p>
          <p ng-show="view.password.length<5">Password must be more than 5 characters</p>
          <p ng-show="view.password.length>20">Password must be less than 20 characters</p>
        </div>
        <button ng-click="login()" class="button button-calm sign-button" style="border-color: #505062;color:#505062; margin-top:20px">
          Log In
        </button>
        <div class="divider">
          &#8212; or &#8212;
        </div>
        <button ng-click="signup()" class="button button-calm sign-button" style="border-color: #505062;color:#505062;">
          Sign Up
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
