<ion-view view-title="Create New">
  <ion-content>
    <form ng-submit='submitNew(); personForm.$setPristine(); form.clear();' name="personForm">
    <div class="list">
      <label class="item item-input" ng-class="{invalid: personForm.fname.$invalid && personForm.fname.$dirty}">
        <input type="text" placeholder="First Name" ng-model='input.first' name="fname" required ng-minlength=2>
      </label>
      <label class="item item-input" ng-class="{invalid: personForm.lname.$invalid && personForm.lname.$dirty}">
        <input type="text" placeholder="Last Name" ng-model='input.last' name="lname" required ng-minlength=2>
      </label>
      <label class="item item-input item-select" ng-class="{invalid: personForm.place.$invalid}">
        <div class="input-label">
          Place
        </div>
        <select ng-model="input.place" ng-options='place as (place.name | capitalize) for place in places track by place.id' ng-change="showPopup()" name="place" required>
          <option value="NEW">+ Create New</option>
          <option value="" selected>Select a Place</option>
        </select>
      </label>
      <div class="list">
        <div class="item item-input-inset">
          <label class="item-input-wrapper" style="margin-right:10px;">
            <input type="text" placeholder="Note" ng-model='input.note_text'>
          </label>
          <label class="item-input-wrapper">
            <input type="text" placeholder="Type" ng-model='input.note_type'>
          </label>
          <button type="button" class="button button-small" ng-click="addNote({text: note_text, type: note_type})">
            Add Note
          </button>
        </div>
      </div>
      <div class="list">
        <div class="item item-input-inset">
          <label class="item-input-wrapper" style="margin-right:10px;">
            <input type="text" placeholder="Website" ng-model='input.link_name'>
          </label>
          <label class="item-input-wrapper">
            <input type="text" placeholder="URL" ng-model='input.url'>
          </label>
          <button type="button" class="button button-small" ng-click="addLink()">
            Add Link
          </button>
        </div>
      </div>
    </div>
    <div class="person_data">
      <div>
        <div ng-show='notes.length !==0'>
          Notes
        </div>
        <button class="button button-small button-positive notes" ng-repeat="note in notes" ng-click="showConfirmNote($index)">{{note.text}}</button>
      </div>
      <div>
        <div ng-show='links.length !==0'>
          Links
        </div>
        <button class="button button-small button-clear button-positive links" ng-repeat="link in links" ng-click="showConfirmLink($index)">{{link.link_name}} {{link.url}}</button>
        <p class="link linkName" ng-click="showConfirmLink(link)">
          {{link.name | capitalize}}
        </p>
        <p class="link linkURL newUrl" href="{{link.url}}">
          {{link.url}}
        </p>
      </div>
    </div>
    <input type="submit" class="button button-block button-positive" value="Create Contact">
    </form>
    <button class="button button-full button-positive" ng-click='peopleRedirect()'>Cancel</button>
  </ion-content>
</ion-view>
