<ion-view view-title="NewPerson">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="First Name" ng-model='input.first'>
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Last Name" ng-model='input.last'>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Place
        </div>
        <select ng-model="input.place" ng-change="showPopup()">
          <option >Select a Place</option>
          <option value="NEW">Create New</option>
          <option value="{{place.id}}" ng-repeat='place in places'>{{place.name}}</option>
        </select>
      </label>
      <div class="list">
        <div class="item item-input-inset">
          <label class="item-input-wrapper" style="margin-right:10px;">
            <input type="text" placeholder="Note" ng-model='input.note_text'>
          </label>
          <label class="item-input-wrapper">
            <input type="text" placeholder="Type" ng-model='input.note_type'>
          </label>
          <button class="button button-small" ng-click="addNote({text: note_text, type: note_type})">
            Add Note
          </button>
        </div>
      </div>
      <div class="list">
        <div class="item item-input-inset">
          <label class="item-input-wrapper" style="margin-right:10px;">
            <input type="text" placeholder="Website" ng-model='input.link_name'>
          </label>
          <label class="item-input-wrapper">
            <input type="text" placeholder="URL" ng-model='input.url'>
          </label>
          <button class="button button-small" ng-click="addLink()">
            Add Link
          </button>
        </div>
      </div>
    </div>
    <div class="person_data">
      <div>
        <button class="button button-small button-positive" ng-repeat="note in notes" ng-click="showConfirmNote($index)">{{note.text}}</button>
      </div>
      <div>
        <button class="button button-small button-clear button-positive" ng-repeat="link in links" ng-click="showConfirmLink($index)">{{link.link_name}}</button>
      </div>
    </div>
    <button class="button button-full button-positive" ng-click='submitNew()'>Create Contact</button>
    <button class="button button-full button-positive" ng-click='peopleRedirect()'>Cancel</button>
  </ion-content>
</ion-view>
