<ion-view view-title="Showing Person">
  <ion-content>
    <div class="list card">
        <div class="item item-avatar">
          <h2 ng-click="view.showOpt=!view.showOpt" ng-show="!view.editing">{{view.person.first_name | capitalize}} {{view.person.last_name | capitalize}}</h2>
          <p>{{input.place.name}}</p>
          <div class="item item-divider" ng-show="view.editing">
            <label class="item item-input">
               <span style="padding-left:10px"> <input name="firstName" type="text" ng-model="view.newFirstName"/></span>
               <span style="padding-left:10px"> <input name="lastName" type="text" ng-model="view.newLastName"/></span>
            </label>
            <select ng-model="input.place" ng-options='place as place.name for place in places track by place.id' ng-change="showPopup()" name="place" required>
              <option value="NEW">+ Create New</option>
              <option value="" selected>Select a Place</option>
            </select>
          </div>
          <button ng-show="view.showOpt && !view.editing" ng-click="edit()" class="button button-balanced">
            Edit
          </button>
          <button ng-show="view.showOpt && view.editing" ng-click="edit()" class="button button-balanced">
            Save
          </button>
          <button ng-show="view.showOpt" ng-click="confirmDelete()" class="button button-assertive">
            Delete
          </button>
        </div>
        <div class="item item-body">
          <div>
            <div class="item item-divider dataDiv">
              <div class="dataTitle">
                Notes
              </div>
              <div class="item item-input-inset dataInput">
                <label class="item-input-wrapper dataField">
                  <input name="type" type="text" ng-model="view.newType" placeholder="Type"/></span>
                </label>
                <label class="item-input-wrapper dataField">
                  <input name="text" type="text" ng-model="view.newText" placeholder="Text"/></span>
                </label>
                <button class="button button-small" ng-click="addNote()">+</button>
              </div>
            </div>
            <button ng-repeat="note in view.person.notes" class="button button-small button-balanced notes" ng-click="showConfirmNote(note.id)">{{note.text}}</button>
            <div class="noItems" ng-show="view.person.notes.length === 0">No notes</div>
          </div>
          <div>
            <div class="item item-divider dataDiv">
              <div class="dataTitle">
                Links
              </div>
              <div class="item item-input-inset dataInput">
                <label class="item-input-wrapper dataField">
                    <input name="name" type="text" ng-model="view.newName" placeholder="Website"/></span>
                </label>
                <label class="item-input-wrapper dataField">
                   <input name="url" type="text" ng-model="view.newUrl" placeholder="URL"/></span>
                </label>
                <button class="button button-small" ng-click="addLink()">+</button>
              </div>
            </div>
            <a ng-repeat="link in view.person.links" class="subdued links" ng-click="showConfirmLink(link.id)">
              <p class="link linkName">
                {{link.name | capitalize}}
              </p>
              <p class="link linkURL" href="{{link.url}}">
                {{link.url}}
              </p>
            </a>
            <div class="noItems" ng-show="view.person.links.length === 0">No links</div>
          </div>
        </div>
    </div>
    <a class="button icon-left ion-chevron-left button-clear button-dark" ng-click="goToPeople()">All People</a>
  </ion-content>
</ion-view>
