<ion-view view-title="Person">
  <ion-content>
    <div class="list card">
        <div class="item item-avatar">
          <div class="TitlePeopleShow" ng-show="!view.editing">
            <h2>{{view.person.first_name | capitalize}} {{view.person.last_name | capitalize}}
              <div class="ion-edit iconEdit" ng-click="view.showOpt=!view.showOpt; edit()" ng-show="!view.editing"></div>
            </h2>
            <p>{{input.place.name | capitalize}}</p>
          </div>
          <div class="item item-input-inset" style="display: inline-block; border:none; width: 100%" ng-show="view.editing">
            <label class="item-input-wrapper" style="display: inline-block; width: 50%">
               <input name="firstName" type="text" ng-model="view.newFirstName" placeholder="First Name"/></span>
            </label>
            <label class="item-input-wrapper" style="display: inline-block; width: 50%">
               <input name="lastName" type="text" ng-model="view.newLastName" placeholder="Last Name"/></span>
             </label>
             <label class="item item-input item-select">
              <div class="input-label">
                Place
              </div>
              <select style="display: block; margin-top: 10px" ng-model="input.place" ng-options='place as place.name for place in places track by place.id' ng-change="showPopup()" name="place" required>
                <option value="NEW">+ Create New</option>
                <option value="" selected disabled></option>
              </select>
            </label>
          </div>
          <button ng-show="view.showOpt" ng-click="confirmDelete()" class="button button-assertive editDelete ion-trash-a" style="font-size: 1.2em;">
          </button>
          <button ng-show="view.showOpt && view.editing" ng-click="edit(); view.showOpt=!view.showOpt" class="button button-balanced editDelete">
            Save
          </button>
        </div>
        <div class="item item-body">
          <div>
            <div class="item item-divider dataDiv">
              <div class="dataTitle">
                Notes
              </div>
            </div>
            <div class="item item-divider dataDiv" style="padding: 0">
              <div class="item item-input-inset dataInput">
                <label class="item-input-wrapper dataField">
                  <input name="type" type="text" ng-model="view.newType" placeholder="Type"/></span>
                </label>
                <label class="item-input-wrapper dataField">
                  <input name="text" type="text" ng-model="view.newText" placeholder="Text"/></span>
                </label>
                <button class="button button-small editS" ng-click="addNote()" style="margin-left: 0">+</button>
              </div>
            </div>
            <button ng-repeat="note in view.person.notes" class="button button-small button-balanced notes" ng-click="showConfirmNote(note.id)">{{note.text}}</button>
            <div class="noItems" ng-show="view.person.notes.length === 0">No notes</div>
          </div>
          <div>
            <div class="item item-divider dataDiv">
              <div class="dataTitle">
                Links
              </div>
            </div>
            <div class="item item-divider dataDiv" style="padding: 0">
              <div class="item item-input-inset dataInput">
                <label class="item-input-wrapper dataField">
                    <input name="name" type="text" ng-model="view.newName" placeholder="Website"/></span>
                </label>
                <label class="item-input-wrapper dataField">
                   <input name="url" type="text" class="textInput" ng-model="view.newUrl" placeholder="URL"/></span>
                </label>
                <button class="button button-small editS" ng-click="addLink()" style="margin-left: 0">+</button>
              </div>
            </div>
            <a ng-repeat="link in view.person.links" class="subdued links">
              <p class="link linkName" ng-click="showConfirmLink(link)">
                {{link.name | capitalize}}
              </p>
              <p class="link linkURL" href="{{link.url}}">
                {{link.url}}
              </p>
            </a>
            <div class="noItems" ng-show="view.person.links.length === 0">No links</div>
          </div>
        </div>
    </div>
    <a class="button icon-left ion-chevron-left button-clear button-dark" ng-click="goToPeople()">All People</a>
  </ion-content>
</ion-view>
