<ion-view view-title="New Place">
  <ion-content>
    <form ng-submit="submitPlace()" name="addressForm">
            <input name="streetl1" type="text" ng-model="addForm.streetl1">
            <input name="streetl2" type="text" ng-model="addForm.streetl2">
            <input name="city" type="text" ng-model="addForm.city">
            <input name="state" type="text" ng-model="addForm.state">
            <input name="zip" type="number" ng-model="addForm.zip">
            <input type="submit">
          </form>
  </ion-content>
</ion-view>
