<ion-view view-title="Showing Place">
  <ion-content>
    <div class="row">
      <div >
        <h1 class="placeTitle" ng-click="view.showOpt=!view.showOpt" ng-show="!view.editing" >{{view.place.name | capitalize}}</h1>
        <h1 ng-show="view.editing">
          <label class="item item-input">
             <span style="padding-left:10px"> <input name="name" type="text" ng-model="view.newName"/></span>
          </label>
        </h1>
        <button ng-show="view.showOpt && !view.editing" ng-click="edit()" class="button button-balanced">
          Edit
        </button>
        <button ng-show="view.showOpt && view.editing" ng-click="edit()" class="button button-balanced">
          Save
        </button>
        <button ng-show="view.showOpt" ng-click="confirmDelete()" class="button button-assertive">
          Delete
        </button>
      </div>
    </div>
      <div class="bar item-input-inset">
        <div class="row" style="padding-top:30px">
          <div class="col">
            <label class="item item-input item-select">
              <div class="input-label">
                Search By
              </div>
              <select ng-model="view.search.type">
                <option value="name">Name</option>
                <option  value="note">Note</option>
              </select>
            </label>
          </div>
          <div class="col" ng-show="view.search.type==='name'">
            <label class="item-input-wrapper">
              <i class="icon ion-ios-search placeholder-icon"></i>
              <input type="search"  ng-model="view.search.name" placeholder="Name">

            </label>
            <button class="button button-clear">
              Cancel
            </button>
          </div>
          <div class="col" ng-show="view.search.type==='note'">
            <label class="item-input-wrapper">
              <i class="icon ion-ios-search placeholder-icon"></i>
              <input type="search"  ng-model="view.search.noteType" placeholder="Note Type">

            </label>
            <button class="button button-clear">
              Cancel
            </button>
          </div>
        </div>
        <div class="row" ng-show="view.search.type==='note'">
          <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search"  ng-model="view.search.text" placeholder="Note Text">

          </label>
          <button class="button button-clear">
            Cancel
          </button>
        </div>
      </div>
      <div class="list">
        <div class="item item-divider">
          People {{view.search.type}}
        </div>

        <a ng-repeat="person in view.place.people | placeSearch : view.search" class="item" ng-click="display(person)">
          {{person.first_name | capitalize}} {{person.last_name | capitalize}}
        </a>
        <div>

          <button ng-click="addPerson()">+</button>
        </div>
      </div>
  </ion-content>
</ion-view>
