<ion-view view-title="Places">
  <ion-nav-buttons side="right">
      <button class="ion-plus" ng-click="toggleNew()" style="border:none; background-color: transparent; font-size: 1.2em; margin-right: 5px;color:#49CD87">
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="left">
        <img style="width:36px;margin-left: 5px;" src="img/constellatelogo-light.png"></img>
    </ion-nav-buttons>
  <ion-content ng-init="loggedOutRedirect()" class="placeCards">
      <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper searchBar">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" ng-model="view.search" placeholder="Search" style="color:#979797">
        </label>
      </div>
      <div ng-show="newView" style='text-align: center;margin-top:20px'>
        <label class="item item-input" style='width: 78%; display: inline-block;border-radius:5px;height: 45px:margin-top:4px;'>
           <input name="name" type="text" ng-model="view.newName" placeholder="New Place"/></span>
        </label>
        <button class="button button-positive" style='display: inline-block;background-color: #22242A; color: white' ng-click="addPlace()">+</button>
      </div>
      <div ng-show="empty(view.places)" style="color:white;text-align:center;font-size:1.1em; margin-top:20px">
        No places to show. Tap "+" to create a new place.
      </div>
      <div class="card" ng-repeat="place in view.places | custom: view.search"  style="background: transparent;">
        <div class="item item-text-wrap places" ng-click="display(place)" style="background: transparent; color: white;">
          <div style='margin-top: -8px;font-weight: 500;font-size: 1.1em;'>
            {{place.name | capitalize }}
          </div>
          <div style="font-size: 0.7em; margin-top: -20px;color:#E2B702">
            {{place.people.length}} {{ place.people.length > 1 || place.people.length == 0 ? 'contacts' : 'contact' }}
          </div>
        </div>
      </div>
  </ion-content>
</ion-view>
