<ion-view view-title="People">
  <ion-content ng-init='loggedOutRedirect()'>
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" ng-model="view.search" placeholder="Search">
      </label>
    </div>
    <button class="button button-full" ng-click="addPerson()">+ Add New</button>
    <div class="card" ng-repeat="person in view.people | custom: view.search">
      <div class="item item-divider" ng-click="display(person)">
          {{person.first_name | capitalize}} {{person.last_name | capitalize}}
      </div>
      <div class="item item-text-wrap">
        Met at {{view.places[person.place_id].name | capitalize}}
      </div>
    </div>
  </ion-content>
</ion-view>
