<ion-view view-title="People" style="background-color:#282B32">
  <ion-content ng-init='loggedOutRedirect()'>
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" ng-model="view.search" placeholder="Search">
      </label>
    </div>
    <button class="button button-full" ng-click="addPerson()">+ Add New</button>
<div class="card" ng-repeat="person in view.people | allSearch: view.search">
  <div class="item item-divider" ng-click="display(person)" style="color:black; border:none; background-color:transparent; font-size:1.3em">
          <div class="" style="display:inline-block">
            {{person.first_name | capitalize}} {{person.last_name | capitalize}}
          </div>
          <div style="display:inline-block; margin-left: 15px; margin-right: 15px" class="noteNum">
            <div style="display:inline-block; margin-right: 5px; color: #F2C302" class="ion-document-text"></div>
            <div style="color: #F2C302; display:inline-block">{{person.notes.length}}</div>
          </div>
          <div style="display:inline-block" class="linkNum">
            <div style="display:inline-block; margin-right: 5px; color: red" class="ion-link"></div>
            <div style="display:inline-block; color: red">{{person.links.length}}</div>
          </div>
      </div>
      <div class="item item-text-wrap"style="background-color:transparent; border: none;">
        Met at {{view.places[person.place_id].name | capitalize}}
      </div>

        <button type="button" ng-repeat="note in person.notes" class="button button-small button-balanced notes" ng-click="showConfirmNote(note.id)">{{note.type}}</button>
    </div>
    <hr>
  </ion-content>
</ion-view>
