<ion-view view-title="Places">
  <ion-content ng-init="loggedOutRedirect()">
      <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" ng-model="view.search" placeholder="Search">
        </label>
      </div>
      <div style='text-align: center;'>
        <label class="item item-input" style='width: 80%; display: inline-block;'>
           <span style="padding-left:10px; display: inline-block;"> <input name="name" type="text" ng-model="view.newName" placeholder="New Place"/></span>
        </label>
        <button class="button button-positive" style='display: inline-block;' ng-click="addPlace()">+</button>
      </div>
      <div class="card" ng-repeat="place in view.places | custom: view.search">
        <div class="item item-text-wrap places" ng-click="display(place)">
          <div style='margin-top: -8px;'>
            {{place.name | capitalize }}
          </div>
          <div style="font-size: 0.7em; margin-top: -20px;">
            {{place.people.length}} {{ place.people.length > 1 || place.people.length == 0 ? 'contacts' : 'contact' }}
          </div>
        </div>
      </div>
  </ion-content>
</ion-view>
