/* Empty. Add your own CSS if you like */

.invalid{
  border-left: 5px solid red;
}

.main{
  text-align: center;
}

.main img{
  margin-bottom: -25px
  /*-webkit-filter: invert(100%);
  -moz-filter: invert(100%);
  -ms-filter: invert(100%);
  -o-filter: invert(100%);*/
}
.cust-button, .cust-button:hover{
  margin-top: -265px;
  position: relative;
  padding-left: 40px;
  padding-right:40px;
}

.divider{
  line-height: 4;
  font-size: 0.8em;
  margin-top: -10px;
  margin-bottom: -10px;
  color: #323232;
}

.sign-button{
  width: 350px;
  margin: auto;
}
.sign-list{
  width: 350px;
  margin: auto;
  margin-top: -50px;
}

.sign-button:first-of-type{
  margin-top: 30px;
}

.button.button-calm{
  background-color: transparent;
  color: #ABABAB;
  border: 1px solid #ABABAB;
}

.button.button-calm:hover{
  background-color: transparent;
  color: #49CD87;
  border: 1px solid #49CD87;
}

.placeTitle{
  display: block;
  width: 100%;
  margin-right: 25px;
}
.searchBy{
  height: 35px;
}

.dataTitle{
  display: inline-block;
  width: 20%;
  line-height: 2.5;
}

.dataInput{
  background-color: transparent;
  float: right;
  display: inline-block;
  width: 100%;
  border: none;
}

.dataField{
  background-color: white;
  width: 42.5%;
  display: inline-block;
  margin: 0;
  margin-top: -10px
}

.dataDiv{
  height: 55px;
}

.notes{
  margin-top: 8px;
  margin-right: 8px;
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  cursor:default;
  border-radius: 5%;
}

.links{
  margin-left: 15px;
  display: block;
  font-size: 0.9em;
  height:30px
}

.link{
  display: inline-block;
  text-decoration: none;
}

.linkName{
  font-size: 1em;
  font-weight: bold;
  color:white;
  margin:0
}

.noItems{
  margin: 20px;
}

.item-avatar{
  padding-left: 40px;
}

.places{
  height: 80px;
  line-height: 3;
  text-align: center;
}

.person_data{
  margin-left: 20px;
}

.editS{
  background-color: white;
  margin: 0;
  margin-top: -5px
}

.TitlePeopleShow{
  display: inline-block;
  margin-right: 50px;
}
.iconEdit{
  display: inline-block;
  font-size: 1.2em;
  margin-top: -50px;
  cursor: pointer;
  margin-left: 6px;
}

.editDelete{
  float: right;
  margin-left: 2px;
  margin-right: 2px;
}

input{
  width: 100%;
}

.placesList{
  margin: 0;
}

hr{
  border-color: transparent;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.noteBlock{
  padding-left: 15px;
}

.peopleBack{
  background-color: black;
  border: none;
}

.searchBar{
  background-color: #1E1F21;
}
.placeNamePeople{
  background-color:transparent; border: none; color: #EAEAEB; padding-top:6px; padding-bottom: 6px;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 1em;
}

.bar{
  background-color: black;
  border: none;
}

.view-container{
  position:inherit;
}

.placeCards{
  background-color:#282B32;
}

.tabs-striped.tabs-background-positive .tabs {
    background-color: black;
    background-image: none;
    border-color: black;
}

.buttons{
  background-color:black;
}
