/* Empty. Add your own CSS if you like */
.invalid{
  border-left: 5px solid red;
}

.main{
  text-align: center;
}

.main img{
  margin-top: 20px;
  -webkit-filter: invert(100%);
  -moz-filter: invert(100%);
  -ms-filter: invert(100%);
  -o-filter: invert(100%);
}
.cust-button, .cust-button:hover{
  margin-top: -265px;
  position: relative;
  padding-left: 40px;
  padding-right:40px;
}

.divider{
  line-height: 4;
  font-size: 0.8em;
  margin-top: -10px;
  margin-bottom: -10px;
  color: #B9B9B9;
}

.sign-button{
  width: 350px;
  margin: auto;
}
.sign-list{
  width: 350px;
  margin: auto;
  margin-top: -50px;
}

.sign-button:first-of-type{
  margin-top: 30px;
}

.button.button-calm{
  background-color: transparent;
  color: #ABABAB;
  border: 1px solid #ABABAB;
}

.button.button-calm:hover{
  background-color: transparent;
  color: #49CD87;
  border: 1px solid #49CD87;
}

.placeTitle{
  display: inline-block;
  margin-right: 25px;
}
.searchBy{
  height: 35px;
}

.dataTitle{
  display: inline-block;
  width: 20%;
  line-height: 2.5;
}

.dataInput{
  background-color: transparent;
  float: right;
  display: inline-block;
  width: 60%;
  border: none;
}

.dataField{
  background-color: white;
  width: 40%;
  display: inline-block;
}

.dataDiv{
  height: 55px;
}

.notes{
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.links:first-of-type{
  margin-top: 20px;
}

.links{
  margin-left: 15px;
  display: block;
  font-size: 0.9em;
}

.link{
  display: inline-block;
}
.linkName{
  font-size: 1em;
  font-weight: bold;
}

.noItems{
  margin: 20px;
}

.item-avatar{
  padding-left: 40px;
}

.places{
  height: 80px;
  line-height: 3;
  text-align: center;
}
